<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Telegram" />
  </extensions>

  <targets async="true">
    <target xsi:type="Telegram"
            name ="telegramTarget"
            layout="${message}"
            botToken ="xxx"
            chatId="xxx" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="telegramTarget" />
  </rules>
</nlog>